.wrapper {
    top: 30%;
    position: relative;
    float: right;
    width: 40px;
    background: #00000080;
    border-radius: 15px 0px 0px 0px;
    
}

.wrapper2 {
    top: 30%;
    position: relative;
    float: right;
    width: 40px;
    background: #00000080;
}

.wrapper3 {
    top: 30%;
    position: relative;
    float: right;
    width: 40px;
    background: #00000080;
    border-radius: 0px 0px 0px 15px;
}


.wrapper .button {
    display: inline-block;
    height: 60px;
    width: 30px;
    border-radius: 50px;
    margin: 0 5px;
    overflow: hidden;
    cursor: pointer;
}

.wrapper2 .button {
    display: inline-block;
    height: 60px;
    width: 30px;
    border-radius: 50px;
    margin: 0 5px;
    overflow: hidden;
    cursor: pointer;
}

.wrapper3 .button {
    display: inline-block;
    height: 60px;
    width: 30px;
    border-radius: 50px;
    margin: 0 5px;
    overflow: hidden;
    cursor: pointer;
}

.wrapper .button:hover {
    transform: translate(0, -10px);
}

.wrapper2 .button:hover {
    transform: translate(0, -10px);
}

.wrapper3 .button:hover {
    transform: translate(0, -10px);
}

.wrapper .button .icon {
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-sizing: border-box;
    line-height: 30px;
    color: white;
}

.wrapper2 .button .icon {
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-sizing: border-box;
    line-height: 30px;
    color: white;
}

.wrapper3 .button .icon {
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-sizing: border-box;
    line-height: 30px;
    color: white;
}


.wrapper .button:nth-child(1):hover .icon {
    background: #c32aa3;
}
.wrapper2 .button:nth-child(1):hover .icon {
    background: #4267b2;
}
.wrapper3 .button:nth-child(1):hover .icon {
    background: #1da1fe;
}

.wrapper .button .icon i {
    font-size: 20px;
    line-height: 30px;
}

.wrapper2 .button .icon i {
    font-size: 20px;
    line-height: 30px;
}

.wrapper3 .button .icon i {
    font-size: 20px;
    line-height: 30px;
}

@media only screen and (max-width: 990px){
    .wrapper {
        top: 30%;
        position: relative;
        float: right;
        width: 20px;
        background: #00000080;
        border-radius: 15px 0px 0px 0px;
        
    }
    
    .wrapper2 {
        top: 30%;
        position: relative;
        float: right;
        width: 20px;
        background: #00000080;
    }
    
    .wrapper3 {
        top: 30%;
        position: relative;
        float: right;
        width: 20px;
        background: #00000080;
        border-radius: 0px 0px 0px 15px;
    }

    .wrapper .button {
        display: inline-block;
        height: 30px;
        width: 15px;
        border-radius: 25px;
        margin: 0 2.5px;
        overflow: hidden;
        cursor: pointer;
    }
    
    .wrapper2 .button {
        display: inline-block;
        height: 30px;
        width: 15px;
        border-radius: 25px;
        margin: 0 2.5px;
        overflow: hidden;
        cursor: pointer;
    }
    
    .wrapper3 .button {
        display: inline-block;
        height: 30px;
        width: 15px;
        border-radius: 25px;
        margin: 0 2.5px;
        overflow: hidden;
        cursor: pointer;
    }
    
    .wrapper .button:hover {
        transform: translate(0, -5px);
    }
    
    .wrapper2 .button:hover {
        transform: translate(0, -5px);
    }
    
    .wrapper3 .button:hover {
        transform: translate(0, -5px);
    }
    
    .wrapper .button .icon {
        margin-top: 10px;
        display: inline-block;
        text-align: center;
        height: 15px;
        width: 15px;
        border-radius: 25%;
        box-sizing: border-box;
        line-height: 15px;
        color: white;
    }
    
    .wrapper2 .button .icon {
        margin-top: 10px;
        display: inline-block;
        text-align: center;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        box-sizing: border-box;
        line-height: 15px;
        color: white;
    }
    
    .wrapper3 .button .icon {
        margin-top: 10px;
        display: inline-block;
        text-align: center;
        height: 15px;
        width: 15px;
        border-radius: 25%;
        box-sizing: border-box;
        line-height: 15px;
        color: white;
    }
    
    .wrapper .button:nth-child(1):hover .icon {
        background: #c32aa3;
    }
    .wrapper2 .button:nth-child(1):hover .icon {
        background: #4267b2;
    }
    .wrapper3 .button:nth-child(1):hover .icon {
        background: #1da1fe;
    }
    
    .wrapper .button .icon i {
        font-size: 10px;
        line-height: 15px;
    }
    
    .wrapper2 .button .icon i {
        font-size: 10px;
        line-height: 15px;
    }
    
    .wrapper3 .button .icon i {
        font-size: 10px;
        line-height: 15px;
    }
    
}